
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
 width: 100%;
 height: 100vh;
 top: 0;
 bottom:0;

}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 20px;

}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  height: 250px;
}
header{
  padding-top: 10px;
  margin: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height:auto;
  border: 1px  solid black;
  border-left: none;
  border-radius: 0 8px 8px 0  ;
  color: Black;
}

.col-10 {
  color: black;
  border-left: black; 
 
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}
.fa, .fa-save {
  margin-top: 40px;
  margin-right: 10px;
}
.present {
  background-color: #d0281f;
  color: black;
}

.future {
  background-color: #11d911;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#save12, #save7, #save13, #save14, #save15, #save16, #save17, #save8, #save9, #save10, #save11 {
  background-color: #51cfec;
  justify-content: center;
  align-content: center;
  border-radius: 0 8px 8px 0;
  border-bottom: 2px black;
  
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
 textarea, .jumbotron {
  background-color: #ff6961;
 }


  /* Change the header background */
  header {
    background: #772014;
    align-content: center;
  }
  #save12, #save7, #save13, #save14, #save15, #save16, #save17, #save8, #save9, #save10, #save11 {
    background-color: #2ba059;
  }
  .jumbotron{
  height: 400px;
  }
}
